:root {
    /* COLORS */
    --primary-color: #5265E1;
    --primary-light: #e7eafb;
    --secondary-color: #FA5959;
    --secondary-light: #f8e3e3;
    --background-color: #f4f4f9;
    --full-white: #ffffff;
    --light-gray: #9194a1;
    --super-light-gray: #ededed;
    --dark-gray: #777777;
    --dark-red: #c10a18;
    --dark-blue: #242946;
    --dark-blue-transparent: rgba(36, 41, 73, 0.95);
    --transparent-grey: rgba(255, 255, 255, 0.15);

    /* TYPO */
    --font-family-base: "Lato", sans-serif;
    --font-size-xs: 14px;
    --font-size-sm: 16px;
    --font-size-md: 18px;
    --font-size-lg: 20px;
    --font-size-xl: 24px;
    --font-size-xxl: 38px;

    --font-weight-light: 300;
    --font-weight-regular: 400;
    --font-weight-medium: 500;
    --font-weight-bold: 700;

    /* SPACING */
    --max-width: 1200px;
    
    --spacing-none: 0px;
    --spacing-xs: 10px;
    --spacing-sm: 20px;
    --spacing-md: 30px;
    --spacing-lg: 40px;
    --spacing-xl: 50px;
    --spacing-xxl: 60px;

    /* BUTTONS */
    --border-radius-sm: 4px;
    --border-radius-md: 8px;
    --border-radius-lg: 12px;

    /* SHADOWS */
    --shadow-sm: 0 2px 4px rgba(82, 101, 225, 0.1);
    --shadow-md: 0 4px 8px rgba(82, 101, 225, 0.1);
    --shadow-lg: 0 8px 16px rgba(82, 101, 225, 0.1);
}

/* GENERAL */
body {
    font-family: var(--font-family-base);
    font-size: var(--font-size-sm);
    color: var(--light-gray);
    background-color: var(--background-color);
    max-width: var(--max-width);
    margin: 0 auto;
    width: 100%;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

h1 {
    font-size: var(--font-size-xxl);
    color: var(--dark-blue);
    margin-bottom: var(--spacing-md);
}

h2 {
    font-size: var(--font-size-xl);
    color: var(--dark-blue);
    margin-bottom: var(--spacing-md);
    text-align: center;
}

h3 {
    font-size: var(--font-size-lg);
    color: var(--dark-blue);
    margin-bottom: var(--spacing-md);
    text-align: center;
}

h4 {
    font-size: var(--font-size-md);
    color: var(--dark-blue);
    margin-top: var(--spacing-xs);
    margin-bottom: var(--spacing-xs);
    text-align: center;
}

p {
    font-size: var(--font-size-md);
    color: var(--light-gray);
    margin-bottom: var(--spacing-lg);
    line-height: 25px;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
}

/* MOVILES */

@media (max-width: 900px) {
    p {
        text-align: center;
    }
    .no-scroll {
        overflow: hidden;
    }
}